.u-visually-hidden {
  display: block;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.g-padding-left--1 {
  padding-left: 1em;
}

.g-padding-left--2 {
  padding-left: 2em;
}

.g-padding-top--1 {
  padding-top: 1em;
}

.g-margin-top--1 {
  margin-top: 1em;
}

.g-margin-bottom--1 {
  margin-bottom: 1em;
}

.g-margin-top--05 {
  margin-top: 0.5em;
}
