html {
  font-size: 100%;
  font-size: 20px;
}

a {
  color: white;
  font-size: 0.8em;
  /* padding-left: 1em; */
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

button:hover,
button:focus,
button:active {
  cursor: pointer;
}

.c-app {
  color: black;
  background-color: white;
}

.c-header {
  background-color: black;
  color: white;
  border-bottom: 1px solid whitesmoke;
  padding: 1em 0;
}

.c-header {
  background-color: black;
  color: white;
}

.c-calculator {
  background-color: black;
  color: white;
  min-height: 600px;
}

.c-calculator__number {
  height: 2em;
  width: 2em;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-calculator__donations-and-causes {
  height: 600px;
  justify-content: space-evenly;
}

.c-calculator__intro {
  height: 600px;
  justify-content: center;
}

.c-calculator__intro h3 {
  font-size: 3em;
}
.c-calculator__intro p {
  font-size: 1.4em;
}

.c-calculator__causes {
  height: 600px;
  justify-content: center;
}
