.g-flex__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  list-style-type: none;
}

.g-flex__item {
  flex: 0 1 auto;
}

.g-flex__item--grow {
  flex: 1 1 auto;
}

.g-flex__container--column {
  flex-direction: column;
}

.g-flex__container--justify-space-between {
  justify-content: space-between;
}

.g-flex__container--justify-space-around {
  justify-content: space-around;
}

.g-flex__container--align-items-center {
  align-items: center;
}

.g-grid__container {
  display: grid;
  align-items: stretch;
}

.g-grid__container > div,
.g-grid__item > div,
.g-grid__container > section,
.g-grid__item > section {
  display: grid;
}

.g-grid__item--content-left {
  grid-area: one;
}

.g-grid__item--content-right {
  grid-area: two;
}

.g-grid__container--calc {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "one two";
}
