.g-page-padding {
  padding-left: 1em;
  padding-right: 1em;
}

.g-inner-wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.g-inner-wrapper--default {
  max-width: 1300px;
}

.g-inner-wrapper--100 {
  width: 100%;
}
