.contribution-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  width: 50%;

  #fund-total {
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1.05rem 0.75rem;
      width: 3rem;
      height: 1.5rem;
      text-align: center;
      z-index: 1;
    }

    .form-input {
      font-size: 1.5rem;
      font-family: "Roboto Mono", monospace;
      text-align: center;
      border: 1px solid #eee;
      width: 100%;
      padding: 0.75rem;
    }
  }
}
