.simulator {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  text-align: center;

  #achieve-impact-group {
    display: flex;
    flex-flow: row;
    width: 50%;
    justify-content: center;

    .impact-group {
      display: grid;
      grid-template-rows: 4rem 4rem;
      width: 30%;

      h1 {
        margin: 0;
        padding: 0;
      }
    }
  }
  #post-text {
    margin-top: 4rem;
  }
}

#impact-intro {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  h1,
  h3 {
    padding: 0 0.4rem;
    margin: 0 0 3rem;
  }
}
