body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  padding: 0 0 2rem;
}

.recharts-legend-item-text {
  font-size: 1.25rem;
}

.recharts-label {
  font-size: 1.25rem;
}

#prompt {
  padding-top: 2rem;
}
