$unitBase: 12px;
$unitLine: 2px;
$unitType: 16px;

$colorBase: #0F1B4D;
$colorAction: #37D06F;
$colorSecondary: #FFEE49;
$colorWhite: #FFFFFF;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $unitType;
  color: $colorBase;
  line-height: 1.2;
  background-color: mix($colorAction, $colorWhite, 20%);
}
h1, h2, h3 {
    margin-top: $unitBase * 3;
    margin-bottom: $unitBase;
}

h1 {
    font-size: $unitType * 4;
}
h2 {
    font-size: $unitType * 3;
}
h3 {
    font-size: $unitType * 2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slider {
    width: 100%;
    max-width: $unitBase * 30;
    
    label {
        box-sizing: border-box;
        // padding: 0 $unitBase * 1.5;
        // display: flex;
        justify-content: flex-end;
        // min-width: $unitBase;
        width: $unitBase * 30;
    }
}
input {
    &:not([type="submit"]) {
        box-sizing: border-box;
        border: $unitLine solid mix($colorBase, $colorWhite, 20%);
        padding: $unitBase $unitBase * 1.5;
        border-radius: $unitBase * 10;
        font-size: $unitType;
        width: 100%;
        max-width: $unitBase * 30;
        &:focus {
            border-color: $colorAction;
            outline: none;
        }
    }
    &[type="range"] {
        appearance: none;
        background: $colorAction;
    }
}

.calculator {
    background: $colorWhite;
    max-width: $unitBase * 50;
    margin: $unitBase * 2 auto;
    h1, h2 {
        padding-left: $unitBase * 2;
        padding-right: $unitBase * 2;
    }
    h1 {
        padding-top: $unitBase * 4;
    }
    h3 {
        display: flex;
        align-items: center;
        span {
            box-sizing: border-box;
            display: inline-flex;
            width: $unitBase * 2;
            height: $unitBase * 2;
            font-size: $unitType;
            padding: $unitBase;
            justify-content: center;
            align-items: center;
            background: $colorBase;
            color: $colorWhite;
            border-radius: $unitBase * 20;
            margin-right: $unitBase;
        }
    }
    section {
        border-top: 1px solid mix($colorAction, $colorWhite, 20%);
        padding: $unitBase * 2;
        &:first-of-type {
            border-top: 0;
        }
    }
}

.charity-list {
    position: relative;
    &:before, &:after {
        content: '';
        height: calc(100% - 2em);
        pointer-events: none;
        position: absolute;
        top: 1em;
        width: 10px;
        z-index: 2;
    }
    &:before {
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, white 100%);
        right: 0;
    }
    &:after {
        background: linear-gradient(to left, rgba(255,255,255,0) 0%, white 100%);
        left: 0;
    }
    ul {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        padding: $unitBase 0;
        -webkit-overflow-scrolling: touch;
        li {
            padding: 0 $unitBase / 2;
            white-space: nowrap;
            list-style: none;
            cursor: pointer;
            span {
                border: $unitLine solid transparent;
                border-radius: $unitBase;
                display: inline-block;
                padding: $unitBase;
                text-decoration: none;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                    border-color: mix($colorBase, $colorWhite, 20%);
                }
            }
        }
    }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}