$unitBase: 12px;
$unitLine: 2px;

$colorBase: #0F1B4D;
$colorAction: #37D06F;
$colorSecondary: #FFEE49;
$colorWhite: #FFFFFF;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: mix($colorSecondary, $colorWhite, 20%)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:not([type="submit"]) {
    border: $unitLine solid mix($colorBase, $colorWhite, 20%);
    padding: $unitBase / 2 $unitBase;
    border-radius: $unitBase * 10;
    &:focus {
        border-color: $colorAction;
        outline: none;
    }
}

.calculator {
    background: $colorWhite;
    max-width: $unitBase * 50;
    margin: $unitBase * 2 auto;
    padding: $unitBase * 4;
}

.charity-list {
    position: relative;
    &:before, &:after {
        content: '';
        height: calc(100% - 2em);
        pointer-events: none;
        position: absolute;
        top: 1em;
        width: 10px;
        z-index: 2;
    }
    &:before {
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, white 100%);
        right: 0;
    }
    &:after {
        background: linear-gradient(to left, rgba(255,255,255,0) 0%, white 100%);
        left: 0;
    }
    ul {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        padding: $unitBase 0;
        -webkit-overflow-scrolling: touch;
        li {
            padding: 0 $unitBase / 2;
            white-space: nowrap;
            list-style: none;
            cursor: pointer;
            span {
                border: $unitLine solid transparent;
                border-radius: $unitBase;
                display: inline-block;
                padding: $unitBase;
                text-decoration: none;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                    border-color: mix($colorBase, $colorWhite, 20%);
                }
            }
        }
    }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}